/*
 * Created by Debashis Barman (http://www.debashisbarman.in) exclusively for `http://www.surajitbarman.in`
 * 20/01/2015
 * Version 2.0.0 (Stable)
 * 
 */


/* Basic styles
=========================*/
html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, body { margin: 0; padding: 0; }

body::-webkit-scrollbar { width: 8px; }
 
body::-webkit-scrollbar-track { -webkit-box-shadow: none /* inset 0 0 3px #c0c0c0 */; }
 
body::-webkit-scrollbar-thumb { background-color: #fafafa; border: 1px solid #c0c0c0; border-radius: 13px; }

hr { border: none; outline: none; height: 1px; background-color: #c0c0c0; width: 8.69140625%; margin: 34px 0 34px -2.05078125%; }


/* Typography
=========================*/
body { font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #333; background-color: #fff; }

a, a:visited { color: #428bca; text-decoration: none; }

a:hover { color: #2a6496; text-decoration: underline; }

.dr-surajit-barman a, .dr-surajit-barman a:hover { color: #333; text-decoration: none; }


/* Lists
=========================*/
address > ul { list-style: none; }


/* Components
=========================*/
.masthead { background-color: #fafafa; }

.masthead-inner-wrapper { display: table; width: 100%; height: 100%; }

.masthead-inner { vertical-align: middle; display: table-cell; }

.avatar { padding: 5px; border: 1px solid #c0c0c0; /* border-radius: 13px; */ max-width: 233px; width: 100%; }

.head { padding: 13px 13px 13px 34px; }


/* Media queries
=========================*/
@media (max-width: 767px) {
.masthead { width: 100%; height: 233px; background-image: url(../../assets/cover.jpg); background-position: center center; background-size: cover; }

.masthead-inner { display: none; }

.content { padding: 21px 55px 21px 34px; font-size: 13px; line-height: 2; }

.content .lead { color: #777; }

.content p { margin-bottom: 21px; }

.content .dr-surajit-barman { display: block; }

.masthead h1 { font-size: 21px; }

.masthead  { display: block; }

.head h1 { font-size: 13px; font-weight: bolder; padding: 0; margin: 3px 0 3px 0; }

.head h2 { font-size: 10px; font-weight: 400; font-style: italic; padding: 0; margin: 0; }

ul, ol { margin-left: 0; padding-left: 21px; }

footer { display: block; }

.visible-sm { display: block; }

.hidden-sm { display: none; }
}

@media (min-width: 768px) {
.header { display: none; }

.masthead { width: 25%; position: fixed; top: 0; left: 0; bottom: 0; margin-bottom: 0; border-right: 1px solid #c0c0c0; }

.masthead-inner { padding: 10%; }

.content { padding: 0 5%; line-height: 2; }

.content .dr-surajit-barman { display: none; }

.container { width: 65%; margin-left: 25%; }

.contents { list-style:none; padding-left:0; line-height: 2; }

footer { display: none; }

.hidden-sm { display: block; }

.visible-sm { display: none; }
}
